.Home {
    background-image: url(images/perrohome.png);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 92%;
}

.Home_Title {
 margin-top: 12%;
 margin-bottom: 0;
 font-size: 60px;
 text-shadow: black 0.1em 0.1em 0.2em /*Sombra para el texto*/
}

.Home_Paragraph {
    font-size: 30px;
    text-shadow: black 0.1em 0.1em 0.2em /*Sombra para el texto*/
}

.Home_Link {
    background-color: #efe7dd;
    margin-top: 150px;
    padding: 20px 80px;
    font-size: 30px;
    text-decoration: none;
    color: #5c3420;
    border-radius: 20px;
}