.Info3_Main {
    background-color: #d6c7a6;
    display: flex;
    align-items: center;
    flex-direction: column;


    height: 92%;

    text-shadow: black 0.1em 0.1em 0.2em /*Sombra para el texto*/
}

.Info3_Img {
    border: 5px solid #5c3420;
    border-radius: 50px;
}