.Navbar_Main {
    background-color: #efe7dd;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8%;
}

.Navbar_Title {
    text-decoration: none;
    color: #5c3420;
}

.Navbar_Link {
    text-decoration: none;
    color: #5c3420;
}